$isDebug: false; // Debug 模式

// 格線系統
$gutter: 24px;
$gutter-half: calc($gutter / 2);
$gutter-half-negative: $gutter-half * -1;

// 用於產生 class 的斷點字樣
$class-pad: 'pad-'; // 平板
$class-dt: 'dt-'; // 桌機

// 顏色
$color-primary: #0027D5; // rgba(0, 39, 213, 1)
$color-primary-light: #B2BEF2; // rgba(178, 190, 242, 1)
$color-secondary: #6C757D;  // rgba(108, 117, 125, 1)
$color-text: #4B4B4B; // rgba(75, 75, 75, 1)
// 灰階
$color-dark-100: #EDEDED; // rgba(237, 237, 237, 1)

// 框線
$border-radius: 40px;
