/* flex 相關設定 */

@use '../base/variables';
@use '../mixins/breakpoints';

// 產出各種 flex 設定，可做成響應式。
// $breakWord：斷點字樣，預設空字串。
@mixin genFlex($breakWord: '') {
  .direction#{$breakWord}-row {
    flex-direction: row;
  }
  .direction#{$breakWord}-row-reverse {
    flex-direction: row-reverse;
  }
  .direction#{$breakWord}-column {
    flex-direction: column;
  }
  .direction#{$breakWord}-column-reverse {
    flex-direction: column-reverse;
  }

  .justify-content#{$breakWord}-start {
    justify-content: flex-start;
  }
  .justify-content#{$breakWord}-center {
    justify-content: center;
  }
  .justify-content#{$breakWord}-end {
    justify-content: flex-end;
  }
  .justify-content#{$breakWord}-between {
    justify-content: space-between;
  }
  .justify-content#{$breakWord}-around {
    justify-content: space-around;
  }
  .justify-content#{$breakWord}-evenly {
    justify-content: space-evenly;
  }

  .align-items#{$breakWord}-start {
    align-items: flex-start;
  }
  .align-items#{$breakWord}-center {
    align-items: center;
  }
  .align-items#{$breakWord}-end {
    align-items: flex-end;
  }

  .align-self#{$breakWord}-start {
    align-self: flex-start;
  }
  .align-self#{$breakWord}-center {
    align-self: center;
  }
  .align-self#{$breakWord}-end {
    align-self: flex-end;
  }
}

/* 響應式 flex 效果 */
// 手機
@include genFlex;
// 平板
@include breakpoints.pad-up {
  @include genFlex(variables.$class-pad);
}
// 桌機
@include breakpoints.desktop-up {
  @include genFlex(variables.$class-dt);
}

/* 無響應式的其它 flex 設定 */
.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
