/* title：各標題 */

@use '../mixins/breakpoints';

.h2 {
  font-weight: 700;
  font-size: 48px;

  @include breakpoints.pad-up {
    font-size: 64px;
  }
}

.h3 {
  font-weight: 700;
  font-size: 28px;
}

.h4 {
  font-weight: 700;
  font-size: 24px;
}
