/* container：容器相關 */

@use '../base/variables';
@use '../mixins/breakpoints';
@use '../mixins/container';

// 由手機開始的 container
.container {
  @include container.container-base;
  max-width: variables.$container-width-phone;
  
  // 平板
  @include breakpoints.pad-up {
    max-width: variables.$container-width-pad;
  }

  // 桌機
  @include breakpoints.desktop-up {
    max-width: variables.$container-width-dt;
  }
}

// 由平板開始的 container
@include breakpoints.pad-up {
  .container-pad {
    @include container.container-base;
    max-width: variables.$container-width-pad;
    
    // 桌機
    @include breakpoints.desktop-up {
      max-width: variables.$container-width-dt;
    }
  }
}

// 由桌機開始的 container
@include breakpoints.desktop-up {
  .container-dt {
    @include container.container-base;
    max-width: variables.$container-width-dt;
  }
}

// 清除 container 樣式，可做成響應式。
// $breakWord：斷點字樣，預設空字串
@mixin clearContainer($breakWord: '') {
  .container#{$breakWord}-clear {
    max-width: 100%;
    padding: 0;
  }
}

/* 響應式清除 container 樣式 */
// 平板
@include breakpoints.pad-up {
  @include clearContainer(variables.$class-pad);
}
// 桌機
@include breakpoints.desktop-up {
  @include clearContainer(variables.$class-dt);
}
