/* index page style */

@use '../base/variables';
@use '../mixins/breakpoints';
@use '../components/swiper-blog';

/* Banner */
// Banner - 內容區塊
.banner-content {
  height: 356px;

  @include breakpoints.pad-up {
    height: auto;
  }
}

// Banner - 介紹
.banner-intro {
  background-color: #fff;
  font-size: 24px;
  padding: 40px 24px;
  margin-top: -160px;

  @include breakpoints.pad-up {
    margin-top: 0;
  }

  @include breakpoints.desktop-up {
    position: relative;
    max-width: 56%;
    margin-left: auto;
    margin-right: 80px;
    margin-top: -8.333%;
  }

  @include breakpoints.desktop-full-up {
    font-size: 28px;
    padding: 80px 40px;
  }
}

/* 裝飾 */
.decorator {
  padding: 18.75px 5px;

  .decorator-line {
    width: 30px;
    height: 2.5px;
    background-color: variables.$color-primary;
    border-radius: variables.$border-radius;
  }
}

/* 交疊 */
@include breakpoints.desktop-up {
  .overlay-right {
    margin-left: -40px;
  }

  .overlay-left {
    margin-right: -40px;
    z-index: 0;
  }
}

/* 聯繫我 */
.connect-me {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;

  @include breakpoints.pad-up {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

// 聯繫我 - 圖片
.connect-me-img {
  width: 40px;
  height: 40px;
}

/* 職涯諮詢 */
// 職涯諮詢 - 說明
.consultation-desc {
  margin-top: -160px;

  @include breakpoints.pad-up {
    margin-top: 0;
  }
}

// 職涯諮詢 - 說明段落 1、說明段落 2
.consultation-desc-1,
.consultation-desc-2 {
  padding: 40px 24px;

  @include breakpoints.desktop-up {
    padding: 80px 40px;
  }
}

// 職涯諮詢 - 說明段落 1
.consultation-desc-1 {
  background-color: white;
  margin-bottom: 12px;

  @include breakpoints.desktop-up {
    margin-bottom: -40px;
    position: relative;
    left: -195px;
  }
}

// 職涯諮詢 - 說明段落 2
.consultation-desc-2 {
  background-color: variables.$color-dark-950;

  @include breakpoints.desktop-up {
    position: relative;
  }
}

/* 訂閱電子報 */
// 訂閱電子報 - 背景區
.newsletter {
  background-image: url("../assets/images/index/hero-section2.png");
  background-size: cover;
  align-content: center;
  flex-grow: 1;

  padding-top: 12px;
  padding-bottom: 12px;

  @include breakpoints.pad-up {
    padding: 24px 80px;
  }

  @include breakpoints.desktop-up {
    background-image: url("../assets/images/index/hero-section3-dt.jpg");
    background-position: center;
  }
}

// 訂閱電子報 - 內容
.newsletter-content {
  background-color: white;
  padding: 40px 24px;

  @include breakpoints.desktop-full-up {
    padding: 80px;
  }
}

// 訂閱電子報 - 文字輸入框
.newsletter-input {
  width: 100%;
  background: variables.$color-dark-940;
  font-size: 20px;
  padding: 8px 16px;
  border: none;
}